
body {
    margin: 0;
}

h1 {
    text-align: center;
    padding-bottom: 2rem;
}

.setup {
    display: flex;
    justify-content: center;
    gap: 4em;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}

.inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

/* Container Setup */
.container {
    border: 2.5px solid black;
    margin: 5px;
    height: 80vh;
    width: 50vw;
    max-width: 50vw;
    max-height: 50vw;
    display: flex;
    flex-wrap: wrap;
}

/* Grid Setup */
.grid {
    background-color: none;
}

/* Round Color Display */
.color-show {
    border: 0.1em solid black;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #2e353b;
}

.user-choice {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

#color-picker-input {
    border-radius: 2px;
    border: 1.5px solid gray;
    background-color: whitesmoke;
    width: 60px;
    height: 30px;
}

#color-picker-input:hover {
    border: 1.7px solid black;
    background-color: gray;
}

#range-slider {
    height:2px;
}

#range-slider:hover {
    opacity: 1;
}

.rgb {
    width: 30px;
}

.button {
    
}