
body {
    margin: 0;
}

h1 {
    text-align: center;
    padding-bottom: 2rem;
}

.setup {
    display: flex;
    justify-content: center;
    gap: 4em;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    overflow: hidden;
}

.inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

/* Container Setup */
.container {
    border: 2.5px solid black;
    margin: 5px;
    height: 80vh;
    width: 50vw;
    max-width: 50vw;
    max-height: 50vw;
    display: flex;
    flex-wrap: wrap;
}

/* Grid Setup */
.grid {
    background-color: red;
}

.color-show {
    border: 0.1em solid black;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(46, 53, 59);
}

.user-choice {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.rgb-input {
    display: flex;
}

.rgb-input:only-child {
    width: 5px;
    height: auto;
}

#range-slider {
    height:2px;
}

#range-slider:hover {
    opacity: 1;
}

.button {
    
}