@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

:root {
    /* Primary Colors */
    --light: #ECE6C2;
    --dark: #6F5643;
    --red: #CC6B49;
    --yellow: #D2A24C;
    --blue: #73BDA8;
}

* {
    font-family: 'VT323', cursive;
    font-size: 30px;
    text-align: center;
    /* outline: 1px solid red; */
}

body {
    margin: 0;
    min-height: 100vh;
    background-color: var(--light);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    text-align: center;
    color: var(--yellow);
    font-size: 60px;
    font-weight: 700;
    background-color: var(--dark);
    margin: 0;
    padding: 20px 0px;
    border-bottom: 10px solid var(--yellow);
    margin-bottom: 12px;
    width: 100%;
}

.setup {
    display: flex;
    justify-content: center;
    gap: 1em;
    align-items: center;
    width: fit-content;
    flex-wrap: wrap;
    flex: 1;
}

/* SECTION: Grid Container */
/* Container Setup */
.container {
    border: 3.5px solid black;
    margin: 0px 30px;
    height: 600px;
    width: 600px;
    max-width: 80vh;
    max-height: 80vh;
    display: grid;
    /* flex-wrap: wrap; */
    background-color: var(--light);
    /* grid: repeat(30, 1fr) / repeat(30, 1fr) */
    /* flex: 2 1 auto; */
}

/* Grid Setup */
.grid {
    background-color: rgba(200, 200, 200, 0);
}

/* SECTION: Color Input Section */

.inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
    height: 100%;
    width: 20%;
    flex: 1 3 auto;
    margin: 0px 30px;
}

.range-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-choice {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
    flex: 1;
}

/* ANCHOR: Color Picker */
#cpicker {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

#color-picker-input {
    border: transparent;
    background-color: transparent;
    width: 60px;
    height: 60px;
}

#color-picker-input:hover {
    border: 1.7px solid transparent;
    background-color: transparent;
}

/* ANCHOR: Range Slider */

#range-slider {
    height: 2px;
    margin: 10px;
}

#range-slider:hover {
    opacity: 1;
}


/* ANCHOR: Mouse Status Buttons */
.mouse-buttons {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    padding: 10px 0px;
    align-items: center;
    flex-wrap: wrap;
}

.button {
    width: fit-content;
    max-width: fit-content;
    height: auto;
    color: var(--light);
    padding: 10px;
    background-color: var(--blue);
    border: 2.5px solid black;
}

.button:hover {
    color: var(--red);
    background-color: var(--yellow);
}

.button:active,
.active {
    color: var(--dark);
    background-color: var(--yellow);
}